<%- include('./partials/head')-%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h2>A technology blog</h2>
            <span class="subheading">The best news; nodejs, expresjs, ejs...</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% if(blogs){ %>
          <% blogs.forEach(function(blog){ %>
          <div class="post-preview">
            <a href="blog/<%= blog.slug %>">
             <div class="row">
               <div class="col-3">
                  <img class="w-100" src="/uploads/<%= blog.image %>" alt="#">
               </div>
               <div class="col-9">
                  <h2 class="post-title"><%= blog.title %></h2>
                  <h5 class="post-subtitle text-muted">
                    <%= blog.subtitle %>
                  </h5>
               </div>
             </div>
            </a>
            <p class="post-meta">Posted by
              <a href="#"><%= blog.author %></a>
              on <%= blog.newDate %></p>
          </div>
          <hr>
          <% }); %>
        <% } %>
        
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="/blogs/1">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

<%- include('./partials/footer')-%>