<%- include('../partials/head')-%>
<%- include('../partials/nav')-%>
<%- include('../partials/sidebar')-%>

   <!-- Content Wrapper. Contains page content -->
   <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Settings</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
              <li class="breadcrumb-item active">List</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Key</th>
                    <th>Value</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                    <% if(settings){ %>
                        <% settings.forEach(function(row,i){ %>
                            <tr>
                                <td width="10"><b><%= i+1 %></b></td>
                                <td width="10"><span class="badge bg-olive d-block"><%= row.key %></span></td>
                                <td><%= row.value %></td>
                                <td width="10">
                                    <div class="btn-group">
                                        <a href="/admin/settings/<%= row._id %>/edit" title="Edit" type="button" class="btn btn-default text-olive"><i class="fa fa-edit"></i></a>
                                    </div>
                                </td>
                            </tr>
                        <% }); %>
                    <% } else{ %>
                        <tr>
                            <td colspan="5" class="text-center">No Data</td>
                        </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<%- include('../partials/footer')-%>
